<app-logout-navigation></app-logout-navigation>
<div class="manage-insurance-plan-container">
    <h2>Manage Insurance Plans</h2>
  
    <!-- Add Insurance Plan -->
    <button (click)="addInsurancePlan()">Add Insurance Plan</button>
  
    <!-- Update Insurance Plan -->
    <button (click)="updateInsurancePlan()">Update Insurance Plan</button>
  
    <!-- Delete Insurance Plan -->
    <button (click)="deleteInsurancePlan()">Delete Insurance Plan</button>
  
    <!-- View All Insurance Plans -->
    <button (click)="viewAllInsurancePlans()">View All Insurance Plans</button>
  
    <!-- Display Insurance Plan List or Details Here -->
  </div>
  <app-footer></app-footer>
  
