<app-logout-navigation></app-logout-navigation>
<div class="manage-agent-container">
    <h2>Manage Agents</h2>
  
    <!-- Add Agent -->
    <button (click)="addAgent()">Add Agent</button>
  
    <!-- Update Agent -->
    <button (click)="updateAgent()">Update Agent</button>
  
    <!-- Delete Agent -->
    <button (click)="deleteAgent()">Delete Agent</button>
  
    <!-- View All Agents -->
    <button (click)="viewAllAgents()">View All Agents</button>
  
    <!-- Display Agent List or Details Here -->
  </div>
  <app-footer></app-footer>