.container {
    margin: auto;
    background-image: url('/assets/bg16.jpg'); 
    background-size: cover;
    color: rgb(4, 21, 27); 
    padding: 100px; 
  }
  
  h2 {
    color: rgb(4, 21, 27);  
  }
  
  h3 {
    color: rgb(4, 21, 27);  
  }
  
  p {
 
    color: rgb(4, 21, 27);  
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
    color: rgb(4, 21, 27);  
  }
  

  

  