<app-header></app-header>
<router-outlet></router-outlet>


<div class="container mt-3">
  <h2>About TrustInsure</h2>
  <p>Welcome to TrustInsure, your trusted partner in insurance solutions.</p>
  
  <h3>Our Mission</h3>
  <p>At TrustInsure, we are committed to providing reliable and comprehensive insurance coverage to safeguard your future. Our mission is to offer peace of mind through tailored insurance plans that meet your unique needs.</p>
  
  <h3>Why Choose TrustInsure?</h3>
  <ul>
    <li>Years of Experience: With decades of experience, we understand the intricacies of the insurance industry.</li>
    <li>Customer-Centric Approach: Your satisfaction is our priority, and we strive to deliver exceptional customer service.</li>
    <li>Wide Range of Plans: Explore our diverse range of insurance plans, including life, health, property, and more.</li>
    <li>Trusted Partnerships: We collaborate with leading insurers to provide you with the best coverage options.</li>
  </ul>
</div>

<!-- Include your footer component -->
<app-footer></app-footer>

