<div class="container">
    <h2 mat-dialog-title>Add Insurance Scheme</h2>
    <mat-dialog-content class="mat-typography">
        <br>
        <form [formGroup]="addInsuranceScheme" 
        (ngSubmit)="addNewInsuranceScheme(addInsuranceScheme.value)" class="example-form">
            <input class="form-control" id="exampleFormControlInput1" type="text" formControlName="schemeName" placeholder="Enter Scheme Name"><br>
            
            <input class="form-control" id="exampleFormControlInput1" type="number" formControlName="detailId" placeholder="Enter Scheme Detail Id"><br>
            
            <input class="form-check-input" placeholder="IsActive" type="radio" formControlName="isActive" value="true">&nbsp;True&nbsp;&nbsp;
            <input class="form-check-input" type="radio" formControlName="isActive" value="false">&nbsp;False<br><br>

            <button>Submit</button>

        </form>

    </mat-dialog-content>
    <mat-dialog-actions [align]="'end'" style="padding: 30px;">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button mat-raised-button color="primary">Save</button>

    </mat-dialog-actions>
</div>