<div class="container">
    <h2 mat-dialog-title>Update Scheme Detail</h2>
    <mat-dialog-content class="mat-typography">
        <select (change)="getSelectedDetail($event)">
            <option *ngFor="let schemeDetailId of schemeDetailData" value="{{schemeDetailId?.detailId}}">{{schemeDetailId.detailId}}</option>
        </select>
        <form [formGroup]="updateSchemeDetail" (ngSubmit)="updateSchemeDetailData(updateSchemeDetail.value)" class="example-form">
            
            <input class="form-control" id="exampleFormControlInput1" type="hidden" formControlName="detailId" [(ngModel)]="detail.detailId" placeholder="Enter Detail Id"><br>

            Scheme Image<span>*</span>:<input class="form-control" id="exampleFormControlInput1" type="text" formControlName="schemeImage" [(ngModel)]="detail.schemeImage" placeholder="Enter Scheme Image"><span *ngIf="schemeImageValid && schemeImageValid.invalid && schemeImageValid.touched">
                Please select Image
            </span><br>
            
            Description<span>*</span>:<input class="form-control" id="exampleFormControlInput1" type="text" formControlName="description" [(ngModel)]="detail.description" placeholder="Enter Description"><span *ngIf="descriptionValid && descriptionValid.invalid && descriptionValid.touched">
                Please enter Description

            </span><br>

            Minimum Amount<span>*</span>:<input class="form-control" id="exampleFormControlInput1" type="number" formControlName="minAmount" [(ngModel)]="detail.minAmount" placeholder="Enter Minimum Amount"><span *ngIf="minAmountValid && minAmountValid.invalid && minAmountValid.touched">
                Please enter Min Amount

            </span><br>

            Maximum Amount<span>*</span>:<input class="form-control" id="exampleFormControlInput1" type="number" formControlName="maxAmount" [(ngModel)]="detail.maxAmount" placeholder="Enter Maximum Amount"><span *ngIf="maxAmountValid && maxAmountValid.invalid && maxAmountValid.touched">
                Please enter Max Amount
            </span><br>

            Minimum Investment Time<span>*</span>:<input class="form-control" id="exampleFormControlInput1" type="number" formControlName="minInvestmentTime" [(ngModel)]="detail.minInvestmentTime" placeholder="Enter Minimum Investment Time"><span *ngIf="minInvestmentTimeValid && minInvestmentTimeValid.invalid && minInvestmentTimeValid.touched">
                Please enter Min Investment
            </span><br>

            Maximum Investment Time<span>*</span>:<input class="form-control" id="exampleFormControlInput1" type="number" formControlName="maxInvestmentTime" [(ngModel)]="detail.maxInvestmentTime" placeholder="Enter Maximum Investment Time"><span *ngIf="maxInvestmentTimeValid && maxInvestmentTimeValid.invalid && maxInvestmentTimeValid.touched">
                Please enter Max Investment
            </span><br>

            Minimum Age<span>*</span>:<input class="form-control" id="exampleFormControlInput1" type="number" formControlName="minAge" [(ngModel)]="detail.minAge" placeholder="Enter Minimum Age"><span *ngIf="minAgeValid && minAgeValid.invalid && minAgeValid.touched">
                Please enter min age
            </span><br>

            Maximum Age<span>*</span>:<input class="form-control" id="exampleFormControlInput1" type="number" formControlName="maxAge" [(ngModel)]="detail.maxAge" placeholder="Enter Maximum Age"><span *ngIf="maxAgeValid && maxAgeValid.invalid && maxAgeValid.touched">
                Please enter Max age
            </span><br>

            Profit Ratio<span>*</span>:<input class="form-control" id="exampleFormControlInput1" type="number" formControlName="profitRatio" [(ngModel)]="detail.profitRatio" placeholder="Enter Profit Ratio"><span *ngIf="profitRatioValid && profitRatioValid.invalid && profitRatioValid.touched">
                This filed is required
            </span><br>

            Registration Commission Ratio<span>*</span>:<input class="form-control" id="exampleFormControlInput1" type="number" formControlName="registrationCommRatio" [(ngModel)]="detail.registrationCommRatio" placeholder="Enter Register Commission Ratio"><span *ngIf="registrationCommRatioValid && registrationCommRatioValid.invalid && registrationCommRatioValid.touched">
                This filed is required
            </span><br>

            Installment Commission Ratio<span>*</span>:<input class="form-control" id="exampleFormControlInput1" type="number" formControlName="installmentCommRatio" [(ngModel)]="detail.installmentCommRatio" placeholder="Enter Installment Commission Ratio"><span *ngIf="installmentCommRatioValid && installmentCommRatioValid.invalid && installmentCommRatioValid.touched">
                This filed is required
            </span><br>

            <!-- Scheme Id:<input class="form-control" id="exampleFormControlInput1" type="number" formControlName="schemeId" [(ngModel)]="detail.schemeId" placeholder="Enter Scheme ID"><br> -->

            <mat-form-field class="example-full-width">
                <mat-label>Select Scheme Name</mat-label>
                <mat-select formControlName="schemeId">
                    <mat-option *ngFor="let scheme of schemeList" [value]="scheme.schemeId">
                        {{ scheme.schemeName }}
                    </mat-option>
                </mat-select>
                <span *ngIf="schemeIdValid && schemeIdValid.invalid && schemeIdValid.touched">
                    Please select a scheme name
                </span>
            </mat-form-field><br>
            
            Is Active:<input class="form-check-input" type="radio" formControlName="isActive" value="true" checked>&nbsp;True&nbsp;
            <input class="form-check-input" type="radio" formControlName="isActive" value="false">&nbsp;False<br><br>
            
            <button>Update</button>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions [align]="'end'" style="padding: 30px;">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <!-- <button mat-raised-button color="primary">Save</button> -->

    </mat-dialog-actions>
</div>