<router-outlet></router-outlet>
<app-logout-navigation></app-logout-navigation>


<div class="insurance-plans">
    <div class="insurance-plan-item">
      <img src="assets/cancerinsurance.jpg" alt="Cancer Insurance">
      <h3>Cancer Insurance</h3>
      <div class="plan-details">
        <p class="disease-info">Comprehensive coverage for cancer-related expenses.</p>
        <div class="coverage-types">
          <strong>Coverage Types:</strong>
          <ul>
            <li>Hospitalization expenses</li>
            <li>Chemotherapy and radiation</li>
            <li>Diagnostic tests</li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="insurance-plan-item">
      <img src="assets/healthinsurance2.jpg" alt="Health Insurance">
      <h3>Health Insurance</h3>
      <div class="plan-details">
        <p class="disease-info">Protection for your health and medical expenses.</p>
        <div class="coverage-types">
          <strong>Coverage Types:</strong>
          <ul>
            <li>Doctor visits and consultations</li>
            <li>Hospitalization and surgery</li>
            <li>Prescription medications</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  