<div class="container" style="width: 400px;">
    <h2 mat-dialog-title>Add Location</h2>
    <mat-dialog-content class="mat-typography">

        <form [formGroup]="locform" (ngSubmit)="addLoc(locform.value)" class="example-form">

            State:
            <mat-form-field appearance="fill">
                <mat-label>Select State</mat-label>
                <mat-select formControlName="state">
                    <mat-option *ngFor="let state of states" [value]="state">
                        {{ state }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span *ngIf="stateValidator && stateValidator.invalid && stateValidator.touched">
                Please select a state
            </span>
            <br><br>

            City:
            <mat-form-field appearance="fill">
                <mat-label>Select City</mat-label>
                <mat-select formControlName="city">
                    <mat-option *ngFor="let city of cities" [value]="city">
                        {{ city }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span *ngIf="cityValidator && cityValidator.invalid && cityValidator.touched">
                Please select a city
            </span>
            <br><br>


            <button mat-raised-button color="warn" type="submit">Add</button>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions [align]="'end'" style="padding: 30px;">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <!-- <button mat-raised-button color="primary">Save</button> -->

    </mat-dialog-actions>
</div>