form button{
    border-radius: 5px;
    background-color: rgb(236, 68, 118);
    border: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    color: antiquewhite;
    width: 80px;
}
form{
    max-width: 600px;
    padding-left: 80px;
    padding-right: 80px;
}