<h2 mat-dialog-title>Delete Policy</h2>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Policy ID <span>*</span></mat-label>
      <mat-select [(ngModel)]="selectedPolicyId" [ngModelOptions]="{ standalone: true }" placeholder="Select Policy ID">
        <mat-option *ngFor="let id of policyIds" [value]="id.policyNo">
          {{ id.policyNo }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form><br>
  <p>Are you sure you want to delete this Policy?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button color="warn" (click)="onDeleteClick()">Delete</button>
</div>
