<div *ngIf="isAdmin()">
    <app-admin-navbar></app-admin-navbar>
</div>
<div *ngIf="!isAdmin()">
    <app-navbar-for-emp></app-navbar-for-emp>
</div>
<router-outlet></router-outlet>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<br><br>
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Welcome View Commision </span>
    <span class="example-spacer"></span>
    <!-- <button mat-raised-button (click)="openAddAgentDialog()" color="accent">Add Agent</button>
    &nbsp;&nbsp;
    <button mat-raised-button (click)="openUpdateAgentDialog()" color="accent">Update Agent </button>
    &nbsp;&nbsp;
    <button mat-raised-button (click)="openAgentPlanDialog()" color="accent">Delete Agent </button>
    &nbsp;&nbsp; -->
</mat-toolbar>
<div class="container"><br>
    <h1 class="display-5" style="font-family: Georgia, 'Times New Roman', Times, serif;"> View Commision</h1>
    <div style="float: left; width: 100%;">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Commision Id</th>
                    <th>Insurance Plan Name</th>
                    <th>Agent Name</th>
                    <th>Customer Name</th>
                    <th>Commision Amount</th>
                    <th>Is Active</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commision of commisionData">
                    <td>{{ commision.id }}</td>
                    <td>{{ commision.planName }}</td>
                    <td>{{ commision.agentName }}</td>
                    <td>{{ commision.customerName }}</td>
                    <td>{{ commision.commisionAmount }}</td>   
                    <td>{{ commision.isActive?'Yes':'No' }}</td>   
                </tr>
            </tbody>
        </table>
    </div>
</div>
