<app-header></app-header>
<router-outlet></router-outlet>
<div class="insurance-policies">
    <div class="insurance-policy-item">
      <img src="assets/carinsurance3.jpg" alt="Car Insurance">
      <h3>Car Insurance</h3>
      <div class="policy-details">
        <p class="coverage-info">Coverage for damages and liabilities related to your car.</p>
        <div class="policy-features">
          <strong>Policy Features:</strong>
          <ul>
            <li>Collision coverage</li>
            <li>Liability insurance</li>
            <li>Comprehensive coverage</li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="insurance-policy-item">
      <img src="assets/homeinsurance2.jpg" alt="Home Insurance">
      <h3>Home Insurance</h3>
      <div class="policy-details">
        <p class="coverage-info">Protection for your home and personal belongings.</p>
        <div class="policy-features">
          <strong>Policy Features:</strong>
          <ul>
            <li>Property damage coverage</li>
            <li>Personal property coverage</li>
            <li>Liability protection</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  