div {
    text-align: center;
  
  }

 .content-area {
  background-image: url('/assets/bg14.jpg'); 
  background-size: cover;
  background-position: center;
  color: rgb(4, 21, 27);  
  padding: 200px; 
}


