<app-logout-navigation></app-logout-navigation>
<div class="manage-employee-container">
    <h2>Manage Employees</h2>
  
    <!-- Add Employee -->
    <button (click)="addEmployee()">Add Employee</button>
  
    <!-- Update Employee -->
    <button (click)="updateEmployee()">Update Employee</button>
  
    <!-- Delete Employee -->
    <button (click)="deleteEmployee()">Delete Employee</button>
  
    <!-- View All Employees -->
    <button (click)="viewAllEmployees()">View All Employees</button>
  
    <!-- Display Employee List or Details Here -->
  </div>
  <app-footer></app-footer>
  