<app-navbar-for-emp></app-navbar-for-emp>
<router-outlet></router-outlet>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<br><br>
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Welcome View Customer </span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="openAddCustomerDialog()" color="accent">Add Customer</button>
    &nbsp;&nbsp;
    <button mat-raised-button (click)="openUpdateCustomerDialog()" color="accent">Update Customer </button>
    &nbsp;&nbsp;
    <button mat-raised-button (click)="openDeleteCustomerDialog()" color="accent">Delete Customer </button>
    &nbsp;&nbsp;
</mat-toolbar>
<div class="container"><br>
    <h1 class="display-5" style="font-family: Georgia, 'Times New Roman', Times, serif;"> Manage Customer</h1>
    <div style="float: left; width: 45%;">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Customer Id</th><br><br>
                    <th>First Name</th><br><br>
                    <th>Last Name</th><br><br>
                    <th>Email</th><br><br>
                    <th>MobileNo</th><br><br>
                    <th>State</th><br><br>
                    <th>City</th><br><br>
                    <th>Nominee</th><br><br>
                    <th>Nominee Relation</th><br><br>
                    <th>Agent Id</th><br><br>
                    <th>User Id</th><br><br>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of custData">
                    <td>{{ customer.customerId }}</td><br>
                    <td>{{ customer.firstName }}</td><br>
                    <td>{{ customer.lastName }}</td><br>
                    <td>{{ customer.email }}</td><br>
                    <td>{{ customer.mobileNo }}</td><br>
                    <td>{{ customer.state }}</td><br>
                    <td>{{ customer.city }}</td><br>
                    <td>{{ customer.nominee }}</td><br>
                    <td>{{ customer.nomineeRelation }}</td><br>
                    <td>{{ customer.agentId }}</td><br>
                    <td>{{ customer.userId }}</td><br>
                    <!-- <td>{{ agent.isActive }}</td><br> -->
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
